@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
.grand-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

.order-container {
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 40px black;
    font-family: 'Merriweather Sans', sans-serif;
}

.heading-page {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1% 3% 0 3%;
    border-bottom: 2px solid #b5c6ce;
}

.name-page {
    text-align: center;
    text-decoration: none;
    color: #b5c6ce;
}

.select-page {
    color: #5F9aad;
    border-bottom: 4px solid #b5c6ce;
    padding-bottom: 1%;
}

.content-container {
    width: 80%;
    height: 80%;
    margin: 0 10% 0 10%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15%;
}

.image-order {
    width: 80%;
    height: 80%;
}

.info-order-container {
    margin-top: 5%;
    margin-left: 5%;
}

.form-order-container {}

.name-order {}

.quantity-order-name {}

.quantity-order {
    width: 60%;
    font-size: 20px;
    padding: 3%;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    margin-top: -10%;
}

.price-oreder {}

.order-button {}

.back-link-container {}

.back-arrow {
    width: 20px;
    height: 20px;
}

.back-link {}